<h1 style='text-align: center'>Fitness Tracker</h1>

<p>Please input an exercise below:</p>

<form method='post' style='margin: 5%'>
    <label for='name' style='padding-right: 8px'>Name:</label>
    <input type='text', name='name' placeholder='Bench Press'>
    </br>
    <label for='reps' style='padding-right: 15px'>Reps:</label>
    <input type='text', name='reps' placeholder='30'>
    </br>
    <label for='weight' style='padding-right: 2px'>Weight:</label>
    <input type='text', name='weight' placeholder='100'>
    </br>
    <label for='date' style='padding-right: 17px'>Date:</label>
    <input type='text', name='date', placeholder='yyyy-mm-dd'>
    </br>
    <label for='unit' style='padding-right: 23px'>Lbs:</label>
    <input type='number', name='lbs', max='1', min='0' placeholder='1'> 
    </br>
    <input type='submit' name='Submit' value='Submit'>
</form>

</br>
</br>
<table style='text-align: left; border: 1px solid black'>
    <tr>
        <th style="padding: 5px">Name</th>
        <th style="padding: 5px">Reps</th>
        <th style="padding: 5px">Weight</th>
        <th style="padding: 5px">Date</th>
        <th style="padding: 5px">Lbs</th>
    </tr>
    {{#each exercises}}
        <tr>
            <td style='padding: 5px; background-color: pink'>{{this.name}}</td>
            <td style='padding: 5px; background-color: lightblue'>{{this.reps}}</td>
            <td style='padding: 5px; background-color: pink'>{{this.weight}}</td>
            <td style='padding: 5px; background-color: lightblue'>{{this.date}}</td>
            <td style='padding: 5px; background-color: pink'>{{this.lbs}}</td>
            <td><form method='post'>
		<input type="hidden" name="id" value="{{this.id}}">
		<input type='submit' name='Edit' value='Edit'>
	    </form></td>
            <td><form method='post'>
	        <input type="hidden" name="id" value="{{this.id}}">
		<input type='submit' name='Delete' value='Delete'>
	    </form></td>
        </tr>
    {{/each}}
</table>
<p>{{results}}</p>
