<h1>Fitness Tracker:</h1>

<form method='post'>
    <label for='name'>Name:</label>
    <input type='text', name='name'>

    <label for='reps'>Reps:</label>
    <input type='text', name='reps'>

    <label for='weight'>Weight:</label>
    <input type='text', name='weight'>
    </br>
    <label for='date'>Date:</label>
    <input type='text', name='date', placeholder='yyyy-mm-dd'>

    <label for='unit'>Lbs:</label>
    <input type='number', name='lbs', max='1', min='0'> 
    </br>
    <input type='submit' name='Submit' value='Submit'>
</form>

</br>
</br>
<table>
    <tr>
        <th>Name</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Date</th>
        <th>Lbs</th>
    </tr>
    {{#each exercises}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.reps}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.date}}</td>
            <td>{{this.lbs}}</td>
            <td><form method='post'>
		<input type="hidden" name="id" value="{{this.id}}">
		<input type='submit' name='Edit' value='Edit'>
	    </form></td>
            <td><form method='post'>
	        <input type="hidden" name="id" value="{{this.id}}">
		<input type='submit' name='Delete' value='Delete'>
	    </form></td>
        </tr>
    {{/each}}
</table>
<p>{{results}}</p>
