<h1>Fitness Tracker:</h1>

<form action='/'>
    <label for='name'>Name:</label>
    <input type='text', name='name'>

    <label for='reps'>Reps:</label>
    <input type='text', name='reps'>

    <label for='weight'>Weight:</label>
    <input type='text', name='weight'>
    </br>
    <label for='date'>Date:</label>
    <input type='text', name='date', placeholder='yyyy-mm-dd'>

    <label for='unit'>Unit:</label>
    <select id='unit' name='unit'>
        <option value='lb'>lb</option>
        <option value='kg'>other</option>
    </select>
    </br>
    <input type='submit', name='Submit', value='Submit'>
</form>

</br>
</br>
<table>
    <tr>
        <th>Name</th>
        <th># of Reps</th>
        <th>Weight</th>
        <th>Date</th>
        <th>Units</th>
    </tr>
    {{#each fitness}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.reps}}</td>
            <td>{{this.weight}}</td>
            <td>{{this.date}}</td>
            <td>{{this.unit}}</td>
        </tr>
    {{/each}}
</table>
<p>{{results}}</p>